MONGO_URI=mongodb+srv://ystaniya_db_user:wAJO4V9XavSeC4Fw@cluster0.hhzmxtb.mongodb.net/?appName=Cluster0
FLASK_ENV=development
FLASK_PORT=5000
VITE_API_URL=https://fake-news-detect-1-rxki.onrender.com/